html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-image: url("http://paulbooker.com/wp-content/uploads/2013/08/bg1.png");*/
}

.main-nav {
    padding: 60px 20px 20px 40px;
    font-family: 'Quicksand', sans-serif;;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    width: auto;
    height: 40px;
    background-color: lightgray;
    border-bottom: 4px solid darkgrey;
    /*opacity: 0.7;*/
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-list {
    float: left;
}

#nav-about {
    margin-left: 75px;
    margin-right: 0px;
}

#nav-port {
    margin-left: 33px;
    margin-right: 30px;
}

#nav-cont {
    margin-right: 30px;
    margin-left: 0px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.main-page {
    font-family: 'Quicksand', sans-serif;
    float: right;
    width: 50%;
    height:75%;
    text-align: left;
}

.main-page-text {
    margin-top:100px;
    margin-right: 100px;
    text-align: center;
}
.main-img {
    float: left;
    width: 50%;
    height: 75%;
}
.main-page-img {
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 50%;
}

.about-pg {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 30%;
    
    opacity: 0.4;
    position: relative;
}

.por-par {
    width: 100%;
    height: 75%;
    text-align: center;
    position: relative;
    z-index: 2;

}

.ind-about {
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 5px;
}

.proj {

    font-family: 'Quicksand', sans-serif;
    width: 100%;
    opacity: 0.6;
    height: 40%;
    margin-bottom: 15px;
    position: relative;

};


.contact {
    width: 100%;
    height:75%;

}

.contact h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    margin-top: 5%;
    text-align: center;
}

.contact li {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    display: block;
    padding-top: 2%;
    text-align: center;
}

.about-tucson {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 30%;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 46px;
    position: relative;
}

.foot-main {
    padding-top: 5px;
    padding-bottom: 55px;
    font-family: 'Quicksand', sans-serif;;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    height: 25px;
    background-color: lightgray;
    border-top: 4px solid darkgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}

.cop-list {
    height: 50%;
    padding-bottom: 15px;
}

.foot-list {
    height: 50%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: darkgray;
    text-decoration: none;
}

.proj img {
    height: 100%;
    width: 75%;
}

.proj:hover {
    opacity: 1;
}

.pdf-view {
    margin: auto;
}